<div class="home-intro">
    <h5 class="meta-title">Hello, I'm <a href="https://www.linkedin.com/in/heselt-in-e/" target="_blank">Jack Heseltine</a> and this is <b>HESEL<i>TIME</i></b> <i class="ri-time-line"></i></h5>
    <div class="jumbo">I currently work on Platform Semantics at <img src="{{ '/assets/img/Dynatrace_Logo_color_positive_horizontal.svg' | relative_url }}" alt="Dynatrace"/>. </div> 
    
    <main class="home__main">
        
        <section class="home__clock">
          <div class="clock" aria-label="The Heseltime Clock">
            <div class="clock-img">
              <img src="{{ '/assets/img/clock.png' | relative_url }}" alt="" />
            </div>
    
            <div class="hour">
              <span class="hr" id="hr"></span>
            </div>
            <div class="minute">
              <span class="min" id="min"></span>
            </div>
            <div class="second">
              <span class="sec" id="sec"></span>
            </div>
          </div>
        </section>

    </main>

</div>

