<div class="home-intro">
    <h5 class="meta-title">Hello, I'm <a href="https://www.linkedin.com/in/heselt-in-e/" target="_blank">Jack Heseltine</a> and this is <b>HESEL<i>TIME</i></b> <i class="ri-time-line"></i></h5>
    <div class="jumbo">I am a <a href="/rDse">formally trained</a> Software and Cloud Engineer in <s><b><i class="ri-heart-line"></i></b> love</s> <b>a professional working relationship</b> with <b>Enterprise Content Management</b> (ECM).</div> 
    
    <img src="assets/img/j.png" alt="Profile Picture of Jack Heseltine" />

    <div class="jumbo">I have experience across industries and believe in service to my community, developing my super-regional branch of the <span class="red">Red</span> Cross up until very recently (2023) but switching to <b>academia and the (university spin-out, international) private sector</b> as Covid-19 settled.</div>
    <div class="home-sub-text"> 
        <h2>Currently on intermittent leave, I am still <a href="mailto:jack.heseltine+tutoring@gmail.com">available to students</a> I am tutoring in Hagenberg, Upper Austria in Software Engineering subjects, as well as a my <a href="https://www.dioezese-linz.at/khj">lay clergy capacity</a> in Linz, Upper Austria.</h2>
        
        <div class="mini"><i class="ri-info-i-line"></i> I am taking a year or so to travel to Brazil (learning Portuguese, and improving my guitar playing too) and take vocational questions more seriously, while still keeping up my academic tutoring commitments, related work, and volunteering.</p> 
            
        <p>Still, I am open <a href="mailto:jack.heseltine+consulting@gmail.com">to discuss contract positions</a> that can draw on my ECM experience and graduate level studies. I would be mostly seeking fully remote work or hybrid models in the US or EU/UK, but require visa support elsewhere.</p>
                        
        <div class="jumbo"><b><i class="ri-arrow-right-line"></i>The work.</b></div>

        <p>Click through my work and research/study interests and projects:</p>

        <ul>
            <li><a href="/notes">
                <i class="ri-swap-line"></i>
                <span class="nav__name">
                    Feed
                </span> rX (Research) Feed
            </a></li>
    
            <li><a href="/portfolio">
                <i class="ri-slideshow-2-line"></i>
                <span class="nav__name">
                    Portfolio
                </span> recent (ECM-related) Work
            </a></li>
    
            <li><a href="/rDai">
                <i class="ri-robot-line"></i>
                <span class="nav__name">
                    AI
                </span> AI Studies Interests
            </a></li>
    
            <li><a href="/rDse">
                <i class="ri-command-line"></i>
                <span class="nav__name">
                    Software
                </span> Software Studies/Training (some self-taught, lots of formal banging into head)
            </a></li>
        </ul>

    </br>

        <p>On this website you find the above linked resources concerning my work, including a feed of my research notes (<a href="/notes">rX Feed</a>), as well as personal background.</p>

        <p>I invite you to get in touch! I am currently on CE(S)T/in Linz, Austria.</p>
    </div> 

    

</div>

